/* banner section styles */
.banner-section {
    max-width: 1320px;
    border-radius: 16px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/images/Banner_Image.png');
    background-repeat: no-repeat;
    margin: 16px auto 0;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-top: 170px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 37px;
}

/* Discount section styles */

.discount-section {
    max-width: 800px;
    margin: 120px auto 0;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.discount-info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 48px 0 5px 0;
}

.discount-category-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 48px 0;
}

/* Midnight Party Section Styles */

.join-midnight-party {
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 120px auto 0;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/images/Vectorrr.png');
}

.midnight-party-container {
    padding: 126px 0 0 126px;
}

.midnight-party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    margin: 0;

}

.midnight-party-desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 700px;
    margin: 24px 0 48px 0;
}

.join-now-btn {
    color: dodgerblue;
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

/* new best offer section styles */

.new-best-offer-section {
    max-width: 1320px;
    margin: 120px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comingsoon-leftpart {
    width: 433px;
    padding-right: 70px;
    margin: 0;
}

.comingsoon-rightpart {
    width: 394px;
    padding-left: 118px;
    margin: 0;
}

.intro-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.comingsoon-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin: 0 0 22px;

}

.comingsoon-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}

.coming-soon-img {
    border: 10px solid red;
    border-radius: 364px;
    padding: 20px;
}

.rightpart-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}

.rightpart-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 5px 0 43px;
}

.rightpart-img {
    width: 140px;
    height: 140px;
}

/* Awesome portfolio section styles */

.portfolio-section {
    max-width: 1320px;
    margin: 120px auto 0;
}


.portfolio-top-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.portfolio-top-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin: 16px 0 22px 0;
}

.portfolio-top-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 48px;
}

.portfolio-row-one {
    display: flex;
    gap: 24px;
}

.portfolio-row-two {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

/* Subscribe section styles */

.subscribe-section {
    width: 1320px;
    margin: 120px auto 0;
    border-radius: 16px;
    padding: 80px 0 80px 0;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-img {
    display: block;
    margin: 0 auto;
}

.subscribe-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin: 40px 0 22px 0;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 48px 0;
}

.subscribe-from {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    padding: 25px 267px 25px 30px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    outline: none;
    border: none;
}

.subscribe-btn {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 20px 56px;
}