/* banner section styles */
.banner-section {
    max-width: 1320px;
    border-radius: 16px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/resources/images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 16px auto 0;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-top: 170px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 37px;
}

/* Discount section styles */

.discount-section {
    max-width: 800px;
    margin: 120px auto 0;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.discount-info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 48px;
}

.discount-category-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}